<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.server.mapper.AlbumMapper">

    <resultMap id="albumMap" type="com.music.server.entity.Album">
        <result column="album_id" jdbcType="BIGINT" property="id"/>
        <result column="album_name" jdbcType="VARCHAR" property="name"/>
        <result column="album_img_src" jdbcType="VARCHAR" property="img_src"/>
    </resultMap>

    <select id="searchAlbumByName" resultMap="albumMap" parameterType="String">
        SELECT b.id, b.name, b.img_src
        FROM album b
        WHERE b.name LIKE "%"#{name}"%"
    </select>
</mapper>