<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.server.mapper.ArtistMapper">

    <resultMap id="artistMap" type="com.music.server.entity.Artist">
        <result column="artist_id" jdbcType="BIGINT" property="id"/>
        <result column="artist_name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="searchArtistByName" resultMap="artistMap" parameterType="String">
        SELECT a.id, a.name
        FROM artist a
        WHERE a.name LIKE "%"#{name}"%"
    </select>

</mapper>