<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.server.mapper.PlaylistMapper">

    <resultMap id="playlistMap" type="com.music.server.model.Playlist">
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
    </resultMap>

    <sql id="playlistColumn">
       p.pid, p.name, p.tag, p.cover
    </sql>

    <select id="getPlaylistById" resultMap="playlistMap" parameterType="java.math.BigInteger">
        SELECT <include refid="playlistColumn"/>
        FROM playlist p
        WHERE p.pid = #{pid}
    </select>

    <select id="multiFilterPlaylist" resultMap="playlistMap" parameterType="java.lang.String">
        SELECT DISTINCT <include refid="playlistColumn" />
        FROM playlist p
          where p.tag LIKE #{tag}
    </select>

</mapper>