<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.server.mapper.PlaylistMapper">

    <resultMap id="playlistMap" type="com.music.server.entity.Playlist">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="img_src" jdbcType="VARCHAR" property="img_src"/>
    </resultMap>

    <sql id="playlistColumn">
       p.id, p.name, p.tag, p.img_src
    </sql>

    <select id="getPlaylistById" resultMap="playlistMap" parameterType="java.math.BigInteger">
        SELECT <include refid="playlistColumn"/>
        FROM playlist p
        WHERE p.id = #{pid}
    </select>

    <select id="multiFilterPlaylist" resultMap="playlistMap" parameterType="java.lang.String">
        SELECT DISTINCT <include refid="playlistColumn" />
        FROM playlist p
          where p.tag LIKE #{tag}
    </select>

</mapper>