<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.server.mapper.SongInfoVOMapper">

    <resultMap id="songInfoVOMap" type="com.music.server.entity.SongInfoVO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="song_name" jdbcType="VARCHAR" property="song_name"/>
        <result column="artist_name" jdbcType="VARCHAR" property="artist_name"/>
        <result column="album_name" jdbcType="BIGINT" property="album_name"/>
    </resultMap>

    <select id="getSongByName" resultMap="songInfoVOMap" parameterType="String">
        SELECT s.id, s.name 'song_name', a.name 'artist_name', b.name 'album_name'
        FROM song s, artist a, album b
        WHERE s.name LIKE "%"#{name}"%"
        AND s.artist_id = a.id
        AND s.album_id = b.id
    </select>

    <select id="getListSongs" resultMap="songInfoVOMap" parameterType="java.math.BigInteger">
        SELECT s.id, s.name 'song_name', a.name 'artist_name', b.name 'album_name'
        FROM song s, artist a, album b
        WHERE s.artist_id = a.id
        AND s.album_id = b.id
        AND s.id IN(
          SELECT song_id
          FROM playlist_song ps, playlist p
          WHERE p.id = ps.playlist_id
            AND ps.playlist_id = #{pid})
    </select>

</mapper>